.menu {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border-radius: 15px;
    height: 100%;
    width: 40%;
    background-color: rgb(192, 153, 24);
    box-shadow: 0 0 2px rgba(44, 42, 33, 0.5);
}

.pizza-title {
    font-size: 38px;
    font-weight: 600;
    font-family: "Italiano", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.pizza-ingredients {
    font-size: 18px;
    font-weight: 600;
    font-family: "Felipa", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(240, 241, 233);
}
